.label {
	display: inline-block;

	box-sizing: border-box;
	padding: 4px 12px;

	color: var(--black);
	border: none;
	border-radius: 20px;
	background-color: var(--white);

	font-size: 12px;
	line-height: 12px;
}

.primary {
	color: var(--primary);
	border: 1px solid var(--primary);
}

.ghost {
	border: 1px solid var(--grey-light);
}

.primary:hover,
.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.discount {
	color: var(--green);
	border: 1px solid var(--light-green);
	background-color: var(--light-green);

	font-weight: 700;
}

.info {
	color: var(--white);
	border: 1px solid var(--chip);
	background-color: var(--chip);

	font-weight: 700;
}
