html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	font-family: "Noto Sans Display", sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--background-secondary: #F9F8FF;
	--white: white;
	--grey: #787D85;
	--grey-light: #EBEBEB;
	--black: #3B434E;
	--primary: #7653FC;
	--primary-hover: #6344DF;
	--orange: #FC836D;
	--green: #1DC37E;
	--light-green: #C8F8E4;
	--chip: #B3C0D9;
	--font-family: "Noto Sans Display", sans-serif;
}
